.html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

img {
  padding: 0.75em;
  animation: loopImage 10s Infinite linear;
}

@keyframes loopImage {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
